html{
    font-family:'Sitka Banner'
}
#logga{
    margin-top: 100px; 
    margin-left: 155px;
    width: 200px;
    height:120px;
    border-radius: 7px;
   
}
body {
    list-style: none;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
html {
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}
header{
    display:flex;
    flex-direction:column;
}
.fakeLogin-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; 
    align-items: center;
    margin-right:90px;
    
}
    .fakeLogin-container > h1 {
        font-size: 45px;
    }
.fakeLogin {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(228 240 245);
    width: fit-content;
    padding: 5px;
    height: fit-content;
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
}
.fakeLogin > label {
        align-items: center;
        margin-bottom: 4px;
        font-size: 16px;
        color: black;
        font-weight: bold;
        padding: 1px;
       
    }
.fakeLogin button{
    width: fit-content;
}
li {
    list-style-type: none;
}
.pagination-container {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.pagination {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.index-body {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    align-items: center;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px #12d643;
   
    max-height:fit-content;
    width: 85vw;
}
.loggedInNameBox {
    width: 100%;
    background-color: rgb(228 240 245);
    text-align: center;
    border-radius: 10px;
}
    .loggedInNameBox > h1 {
        color:black;
        font-size: 40px
    }
    .header-things {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-items:flex-end;
}

.header-things a {
    display:flex;
    margin-right:40px;
}

.filter-row{
    display:flex;
    flex-direction:row;
    max-width:100%;
    justify-content:center;
    align-items:center;
}
.filter-row > form {
    align-items:center;
   
}
    .filter-row > form > * {
       
        padding: 5px;
    }
#searchGlass {
    
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    height: 40px;
    font-size: 22px;
}
/* ITEMS */
.all-item-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 25px;
    gap: 30px;
}

.productDetails-img {
    border-radius: 25px;
    max-width: 250px; 
    padding: 20px;
}
.product-img{
    width: 170px; 
    height: 145px;
}
.item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 225px;
    height: 250px;
    box-shadow: 0 0 6px rgb(155, 155, 155);
    border-radius: 5px;
    background-color: white;
    transition: all 0.2s ease;
}

    .item-box:hover {
        transform: scale(1.1);
    }

.item-box a {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.product-price {
    color: green;
    font-size: 16px;
    font-weight: bold;
    text-decoration:underline;
}
#product-price {
    color:navajowhite;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}
#itemDescription {
    background-color: rgb(228 240 245);
    width: 90%;
    border-radius: 10px;
}
    #itemDescription > * {
        font-size: 18px;
        padding: 5px;
        margin-left: 20px;
        margin-right: 5px;
    }

#product-name-h1 {
    color: navajowhite;
    margin-bottom: 0;
}

.CartImage{
    width:140px;
    height:140px;
    border-radius:8px;
}
/*TABLE */

/* buttons */

.return-home-btn{
    background-color: bisque;

}
.item-box-button {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 5px;
    height: 30px;
    width: fit-content;
    background-color: rgb(40, 195, 92); 
    color: rgb(255, 255, 255); 
    border: 1px solid green; 
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: center; 
    justify-content: center; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
}

   
    .item-box-button:hover {
        background-color: rgb(0, 184, 255); 
        color: lightblue; 
    }
.item-box .product-details {
        color: black;
        font-size: 14px;
    }
.productDetails-box-button{
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center; 
    justify-content: center; 
    height: 38px;
    margin: 20px;
    padding: 25px;
    width: 140px;
    background-color: rgb(40, 195, 92); 
    color: rgb(255, 255, 255); 
    border: 1px solid green; 
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: center; 
}
.nav-btn{
    display: flex;
    flex-direction: row;
    align-self: center;
    text-align: center; 
    justify-content: center; 
    margin: 20px;
    padding: 2px;
    width: 80px;
    background-color: rgb(232, 232, 232); 
    color: rgb(7, 67, 146); 
    border: 1px solid rgb(36, 209, 191); 
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: center; 
}

table {
    border-collapse: collapse;
    border: 2px solid Green;
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 2rem;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

thead,
tfoot {
    background-color: rgb(228 240 245);
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    max-width:170px;
}

td:last-of-type {
    text-align: center;
}

tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}
tbody > tr:nth-of-type(odd) {
    background-color: rgb(215, 215, 215);
}

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}

@media (max-width: 768px) {

    table, thead, tbody, tfoot, th, td, tr {
        display: block;
        text-align: center;
    }
       tfoot >tr :last-child{
           display:none;
       }
        thead tr {
           display:none
        }
        tfoot th {
            text-align: center;
        }

    tr {
        border: 1px solid black;
    }

}
