html{
    font-family:'Sitka Banner'
}

body{
    list-style:none;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
html {
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}
header{
    display:flex;
    flex-direction:column;
}
.fakeLogin-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; 
    align-items: center;
    margin-right:90px;
    
}
    .fakeLogin-container > h1 {
        font-size: 45px;
    }
    .fakeLogin {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #D6DAC8;
    width: fit-content;
    padding: 5px;
    height: fit-content;
    margin: 10px;
    border-radius: 10px;
}
.fakeLogin > label {
        align-items: center;
        margin-bottom: 4px;
        font-size: 16px;
        color: white;
        font-weight: bold;
        padding: 1px;
       
    }


.index-body {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    align-items: center;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    border-radius: 10px;
    margin: 0 auto;
    min-height:50vw;
    width: 85vw;
    box-shadow: 0 0 10px #EFBC9B;
}
.loggedInNameBox {
    
    width: 100%;
    background-color: #D6DAC8;
    text-align: center;
    border-radius: 10px;
}
    .loggedInNameBox > h1 {
        color:rgb(10, 153, 34);
        font-size: 40px
       
    }
    .header-things {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-items:flex-end;
}

.header-things a {
    display:flex;
    margin-right:40px;
}

.filter-row{
    display:flex;
    flex-direction:row;
    max-width:100%;
    justify-content:center;
    align-ítems:center;
}
.filter-row > form {
    align-items:center;
   
}
    .filter-row > form > * {
       
        padding: 5px;
    }
#searchGlass {
    
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    height: 40px;
    font-size: 22px;
}
/* ITEMS */
.all-item-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 25px;
    gap: 30px;
}
.product-img{
    width:170px;
    height:170px;
    
}
.item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 225px;
    height: 250px;
    box-shadow: 0 0 6px black;
    border-radius: 5px;
    background-color: white;
    transition: all 0.1s ease;
}

    .item-box:hover {
        transform: scale(1.1);
    }

.item-box a {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.item-box-button {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 5px;
    border: 2px dotted red; 
    border-radius: 10px;
    height: 30px;
    background-color: forestgreen; 
    color: white; 
    font-weight: bold; 
    text-align: center; 
    justify-content: center; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
}

   
    .item-box-button:hover {
        background-color: limegreen; 
        color: lightblue; 
    }
.item-box .product-details {
        color: black;
        font-size: 15px;

    }


.product-price {
    color: green;
    font-size: 16px;
    font-weight: bold;
    text-decoration:underline;
}
#product-price {
    color: green;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}
#itemDescription{
    background-color: rgb(194, 193, 193);

}
    #itemDescription > * {
        font-size: 18px;
        padding: 5px;
    }
#product-name-h1{
    color:blue;
}



/*TABLE */

table {
    border-collapse: collapse;
    border: 2px solid Green;
    font-size: 1rem;
    letter-spacing: 1px;
    margin:2rem;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

thead,
tfoot {
    background-color: rgb(228 240 245);
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

    td:last-of-type {
        text-align: center;
    }

tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}
tbody > tr:nth-of-type(odd) {
    background-color: rgb(215, 215, 215);
}

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}