@page
@model WebsiteApp.Pages.CartModel
@if (Model.CartItems.Any())
{
    <ul>
        @foreach (var item in Model.CartItems)
        {
            <li>
                <p>@item.Product.Name - Quantity: @item.Quantity</p>
                <form method="post" asp-page-handler="RemoveItemFromCart">
                    <input type="hidden" name="productId" value="@item.ProductId" />
                    <button type="submit">Remove</button>
                </form>
            </li>
        }
    </ul>
    <p>Total Price: @Model.TotalPrice kr</p>

    <a  asp-page="./OrderDetails">
        <button type="submit">Confirm Order</button>
    </a>
}
else
{
    <p>Your cart is empty.</p>
}
