
@page
@model WebsiteApp.Pages.OrderDetailsModel
@{
    <h1>Summary of products</h1>
}
<p>Tack för din beställning!</p>

@foreach (var item in Model.CartItems)
{
        <p>@item.Product.Name - Antal: @item.Quantity - Pris per styck: @item.Product.Price</p>
}
        <p>@Model.TotalPrice kr</p>


<form method="post" asp-page-handler="RemoveAllItems">
    <button type="submit">Return to MainPage</button>
</form>